@use "colors";
@use "typography";

//
// Universal box sizing, see https://css-tricks.com/box-sizing/#aa-universal-box-sizing.
//
*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --pad-slot-width: 80px;
  --pad-slot-height: 65px;
  --pad-slot-spacing-around: 1px;

  --pad-width: calc(4 * var(--pad-slot-width) + 5 * var(--pad-slot-spacing-around));
  --pad-height: calc(5 * var(--pad-slot-height) + 6 * var(--pad-slot-spacing-around));

  --calculator-display-width: var(--pad-width);
}

html {
  font-family: typography.$shareTechMono;
  font-size: 100%;
}

.body {
  margin: 0;
  background-color: colors.$lavenderGrey;
}
