@use "fonts";

.display {
  padding: 5px 5px 10px 5px;
  font-family: fonts.$digital;
  overflow-wrap: break-word;
  text-align: right;
  background-color: black;
}

.display__line1 {
  padding-bottom: 2px;
  line-height: 1;
  font-size: 20px;
  color: orange;
}

.display__line2 {
  line-height: 1;
  font-size: 29px;
  color: white;
}

.display__line1:empty::before,
.display__line2:empty::before {
  content: "\00A0";
}
