@import "https://fonts.googleapis.com/css?family=Share+Tech+Mono";

@font-face {
    font-family: "Digital";
    src: url("./fonts/digital.eot");
    src: url("./fonts/digital.eot?#iefix")format("embedded-opentype"),
      url("./fonts/digital.woff")format("woff"),
      url("./fonts/digital.woff2")format("woff2"),
      url("./fonts/digital.ttf")format("truetype"),
      url("./fonts/digital.svg#DigitalICG")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
};
