---
import Base from "../layouts/Base.astro";

import Key from "../blocks/Key.astro";
---
<style>
.box {
	--width: 80px;
	--height: 65px;

	width: var(--width);
	height: var(--height);}
</style>

<Base title="Key">
	<h2>Default</h2>

  <h3>Unconstrained</h3>

  <p>
    <Key />
  </p>

  <h3>Constrained</h3>

  <p>
    <div class="box">
      <Key />
    </div>
  </p>
</Base>
