@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';

@font-face {
  font-family: Digital;
  src: url("https://db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot"),
       url("https://db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"),
       url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"),
       url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}


/* Key */


.key {
  display: block;
  width: 100%;
  height: 100%;

  border: 0;
  padding: 0;

  font-family: "Share Tech Mono", monospace;
  font-size: 20px;

  color: white;
  background-color: #4d4d4d;

  cursor: pointer;
}


.key:hover {
  outline: 0.05em solid grey;
  color: black;
}


.key--primary {
  background-color: #ac3939;
}

.key--secondary {
  background-color: #004466;
}


/* Pad */


:root {
  --pad-slot-width: 80px;
  --pad-slot-height: 65px;
  --pad-slot-spacing-around: 1px;

  --pad-width: calc(4 * var(--pad-slot-width) + 5 * var(--pad-slot-spacing-around));
  --pad-height: calc(5 * var(--pad-slot-height) + 6 * var(--pad-slot-spacing-around));
}


.pad {
  position: relative;

  width: var(--pad-width);
  height: var(--pad-height);

  background-color: black;
}


.pad__slot {
  position: absolute;

  width: var(--pad-slot-width);
  height: var(--pad-slot-height);
}


.pad__slot.r0 {
  top: var(--pad-slot-spacing-around);
}

.pad__slot.r1 {
  top: calc(var(--pad-slot-height) + 2 * var(--pad-slot-spacing-around));
}

.pad__slot.r2 {
  top: calc(2 * var(--pad-slot-height) + 3 * var(--pad-slot-spacing-around));
}

.pad__slot.r3 {
  top: calc(3 * var(--pad-slot-height) + 4 * var(--pad-slot-spacing-around));
}

.pad__slot.r4 {
  top: calc(4 * var(--pad-slot-height) + 5 * var(--pad-slot-spacing-around));
}

.pad__slot.c0 {
  left: var(--pad-slot-spacing-around);
}

.pad__slot.c1 {
  left: calc(var(--pad-slot-width) + 2 * var(--pad-slot-spacing-around));
}

.pad__slot.c2 {
  left: calc(2 * var(--pad-slot-width) + 3 * var(--pad-slot-spacing-around));
}

.pad__slot.c3 {
  left: calc(3 * var(--pad-slot-width) + 4 * var(--pad-slot-spacing-around));
}

.pad__slot.rowspan2 {
  height: calc(2 * var(--pad-slot-height) + var(--pad-slot-spacing-around));
}

.pad__slot.colspan2 {
  width: calc(2 * var(--pad-slot-width) + var(--pad-slot-spacing-around));
}


/* Display */


.display {
  padding: 5px 5px 10px 5px;
  font-family: Digital;
  overflow-wrap: break-word;
  text-align: right;
  background-color: black;
}


.display__line1 {
  padding-bottom: 2px;
  line-height: 1;
  font-size: 20px;
  color: orange;
}


.display__line2 {
  line-height: 1;
  font-size: 29px;
  color: white;
}


.display__line1:empty::before,
.display__line2:empty::before {
  content: "\00A0";
}


/* Calculator */


:root {
  --calculator-display-width: var(--pad-width);
}


.calculator {
  display: inline-flex;
  flex-direction: column;

  border: 2px solid #47476b;
  padding: 3px;
  background-color: black;
}


.calculator__display {
  width: var(--calculator-display-width);
}


/* Attribution */


.attribution {
  margin: 0;

  font-family: "Share Tech Mono", monospace;
  text-align: center;
}

.attribution__link {
  text-decoration: none;
  color: #00264d;
}


/* Layout */


body {
  margin: 0;
  height: 100vh;

  background-color: #c2c2d6;
}


.layout {
  height: 100%;
}


.layout__main {
  display: inline-flex;
  flex-direction: column;

  padding: 20px;
}


.layout__calculator {
  margin-bottom: 15px;
}


@media screen and (min-width: 375px) {
  .layout {
    display: flex;
    justify-content: center;
  }
}


@media screen and (min-height: 481px) {
  .layout {
    display: flex;
    align-items: center;
  }
}
