@use "../colors";
@use "../typography";

.attribution {
  margin: 0;

  font-family: typography.$shareTechMono;
  text-align: center;
}

.attribution__link {
  text-decoration: none;
  color: colors.$prussianBlue;
}
