@use "../colors";

.calculator {
  display: inline-flex;
  flex-direction: column;

  border: 2px solid colors.$cornFlowerBlue;
  padding: 3px;
  background-color: colors.$black;
}

.calculator__display {
  width: var(--calculator-display-width);
}
