body {
  margin: 0;
  height: 100vh;

  background-color: #c2c2d6;
}


.layout {
  height: 100%;
}


.layout__main {
  display: inline-flex;
  flex-direction: column;

  padding: 20px;
}


.layout__calculator {
  margin-bottom: 15px;
}


@media screen and (min-width: 375px) {
  .layout {
    display: flex;
    justify-content: center;
  }
}


@media screen and (min-height: 481px) {
  .layout {
    display: flex;
    align-items: center;
  }
}
